{{ $lineNumbers := false }}
{{ $ignoredLanguages := slice "md" "markdown" "text" "txt" }}

{{ if and (transform.CanHighlight .Type ) (not (in $ignoredLanguages .Type)) }}
  {{ $lineNumbers = "inline" }}
{{ end }}

{{ $style := "vulcan" }}

{{ $opts := merge .Options (dict "linenos" $lineNumbers) }}
{{ $opts = merge $opts (dict "style" $style) }}

{{ $result := transform.HighlightCodeBlock . $opts }} 

<script type="text/javascript">
function copyToClipboard() {
    var copyButton = event.currentTarget;
    var codeContent = copyButton.getAttribute("code-text");
    // alert(codeContent);
    var timeout = 1600;

    navigator.clipboard.writeText(codeContent).then(() => {
        copyButton.setAttribute("style", "border: 0px solid gray;");      
        copyButton.innerHTML = "Content copied to clipboard!";

        setTimeout(function (copyButton) {
            copyButton.setAttribute("style", "");
            copyButton.innerHTML = "Copy";
        }, timeout, copyButton);

        // console.log('Content copied to clipboard');
        /* Resolved - 文本被成功复制到剪贴板 */
    },() => {
        copyButton.setAttribute("style", "border: 0px solid gray;");
        copyButton.innerHTML = "Failed to copy!";

        setTimeout(function (copyButton) {
            copyButton.setAttribute("style", "");
            copyButton.innerHTML = "Copy";
        }, timeout, copyButton);

        // alert("拷贝失败！");
        // console.error('Failed to copy');
        /* Rejected - 文本未被复制到剪贴板 */
    });
}  
</script>

{{ if ne .Type "text"}} 
  {{ $text := .Type }}
  {{ if eq .Type "bash" }}
    {{ $text = "BASH" }}
  {{ else if eq .Type "csharp" }}  
    {{ $text = "C#" }}
  {{ else if eq .Type "cpp" }}  
    {{ $text = "C++" }}
  {{ else if eq .Type "html" }}  
    {{ $text = "HTML" }}  
  {{ end }}
  
<pre data-lang={{ $text }} class="pre-lang bg-dark my-4"><button class="copy-code text-success" code-text={{ .Inner }} onclick="copyToClipboard()">Copy</button>{{ $result.Inner }}</pre>
{{ else }}
<pre class="my-4 pre-text">{{ $result.Inner }}</pre>
{{ end }}