@font-face {
  font-family: "VictorMonoNerdFont";
  src: url("/fonts/VictorMonoNerdFont-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka";
  src: url("/fonts/Iosevka-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GenYoGothic";
  src: url("/fonts/GenYoGothic2TC-M.otf") format("opentype");
}

@font-face {
  font-family: "ComicShannsMono";
  src: url("/fonts/ComicShannsMonoNerdFont-Regular.otf") format("opentype");
}

/* @font-face {
  font-family: "iMWritingMonoNerdFontMono";
  src: url("/fonts/iMWritingMonoNerdFontMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMonoNerdFontMono";
  src: url("/fonts/RobotoMonoNerdFontMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "UbuntuMonoNerdFontMono";
  src: url("/fonts/UbuntuMonoNerdFontMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RecMonoLinearNerdFont";
  src: url("/fonts/RecMonoLinearNerdFont-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GohuFontuni14NerdFontMono";
  src: url("/fonts/GohuFontuni14NerdFontMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ProggyCleanNerdFontMono";
  src: url("/fonts/ProggyCleanNerdFontMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HackNerdFontMono";
  src: url("/fonts/HackNerdFontMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "InconsolataGoNerdFontMono";
  src: url("/fonts/InconsolataGoNerdFontMono-Regular.ttf") format("truetype");
} */