@font-face {
  font-family: "VictorMonoNerdFont";
  src: url("/fonts/VictorMonoNerdFont-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka";
  src: url("/fonts/Iosevka-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GlowSansSC";
  src: url("/fonts/GlowSansSC-Normal-Regular.otf") format("opentype");
}

@font-face {
  font-family: "GlowSansSC-Book";
  src: url("/fonts/GlowSansSC-Normal-Book.otf") format("opentype");
}

@font-face {
  font-family: "GlowSansSC-Medium";
  src: url("/fonts/GlowSansSC-Normal-Medium.otf") format("opentype");
}