$tango-footer-bg: #E6E6E6;
$dark-tango-headbar-bg: #222526;

$footer-bg: $tango-footer-bg;
$dark-footer-bg: $dark-tango-headbar-bg;

.footer {
	background: $footer-bg;
	padding: 20px;
	text-align: center;
}

.footer-link {
	cursor: default;
	a {
		cursor: hand;
		font-weight: bold;
		color: $whole-color;
		text-decoration: none;
	}

	a:hover {
		color: $primary;
	}
}

.footer-text {
	cursor: default;
	a {
		color: $whole-color;
		font-weight: bold;
		text-decoration: none;
	}
}

[dark-mode] .footer {
	background: $dark-footer-bg;
}

[dark-mode] .footer-link {
	a {
		color: $dark-whole-color;
	}

	a:hover {
		color: $dark-primary;
	}
}

[dark-mode] .footer-text {
	a {
		color: $dark-whole-color;
	}
}