$dark-tango-yellow: #F9E86B;

$blog-title-color: $dark-tango-white;
$one-sentence-color: $dark-tango-yellow;

.header h1 {
	font-size: 50px;
	color: $blog-title-color;
	text-shadow: 0.02em 0.02em $whole-color;
}

.header h3 {
	font-size: 40px;
	text-shadow: 0.02em 0.02em $whole-color;
}

.header {
	position: relative;
	text-align: center;	
	color: $one-sentence-color;

//  padding: 30px;

    a {
    	color: $whole-color;
    	:hover {
    		color: $primary;
    	}
    }
}

[dark-mode] .header {
    a {
    	:hover {
    		color: $dark-primary;
    	}
    }
}

.header-img {
	width: 100%;
	height: auto;
	// opacity: 0.9;
	-webkit-filter: opacity(90%);
	filter: opacity(90%);
}

.div-title {
    position: absolute;
    top: 40%;
    width: 100%;
    margin-top: -9px;
}

[dark-mode] .header {
	position: relative;
	text-align: center;	
	color: $one-sentence-color;

//  padding: 30px;
}
