$dark-tango-yellow: #F9E86B;
$dark-tango-blue: #97C3FA;
$dark-tango-light-green: #BEF080;

$light-blue: #7EC0EE;
$dark-blue: #87CEFF;

$tango-blue: #2A4A83;
$tango-red: #961D13;
$tango-green: #47663C;


$one-sentence-color: $tango-red;
$dark-one-sentence-color: $dark-tango-green;

$one-sentence-color-hover: $tango-orange;
$dark-one-sentence-color-hover: $dark-tango-blue;

.header h1 {
	margin-top: 7px;
	font-size: 50px;
	color: $whole-color;
//	color: $blog-title-color;
//	text-shadow: 0.02em 0.02em $whole-color;
}

[dark-mode] .header h1 {
	color: $dark-whole-color;
//	text-shadow: 0.02em 0.02em $whole-color;
}

.header h3 {

	font-size: 35px;
	// color: $one-sentence-color;
	cursor: default;
	// text-shadow: 0.02em 0.02em $whole-color;
}

[dark-mode] .header h3 {
color: $dark-whole-color;
	// color: $dark-one-sentence-color;
}

.header {
	bottom: 80px;
	position: relative;
	text-align: center;	
	

	height: 350px;
	background: $footer-bg;

  	// padding: 30px;

    a {
    	color: $whole-color;
    	:hover {
    		color: $one-sentence-color-hover;
    	}
    }
}

[dark-mode] .header {
	background: $dark-footer-bg;
	
    a {
    	:hover {
    		color: $dark-one-sentence-color-hover;
    	}
    }
}

.header-img {
	width: 100%;
	height: auto;
	// opacity: 0.9;
	-webkit-filter: opacity(90%);
	filter: opacity(90%);
}

.div-title {
    position: absolute;
    top: 40%;
    width: 100%;
    margin-top: -9px;
}

[dark-mode] .header {
	position: relative;
	text-align: center;	
	color: $one-sentence-color;

//  padding: 30px;
}
