* {
  box-sizing: border-box;
}

//@import url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css");
 
body {
  font-family: "GlowSansSC-Book";
  // font-weight: bold;

  //padding: 10px;
//  background: #f1f1f1;
}


code {
  font-family: Iosevka;
  // font-weight: bold;
  // font-size: 14px;
  //color: $primary;
  // Menlo, monospace, Consolas;
}


/* 导航条链接 */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.twikoo {
    a {
        text-decoration: none;
    }
}