* {
  box-sizing: border-box;
}
 
body {
  font-family: Arial;
  //padding: 10px;
//  background: #f1f1f1;
}

/* 导航条链接 */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
 



 

.twikoo {
    color: $whole-color;
    a {
      text-decoration: none;
//      color: $whole-color;
    }
}