pre {     
  font-family: "VictorMonoNerdFont";
  text-align: left;
  padding: 1em;

  margin: 0;
  
  border-radius: 5px; 
  white-space: pre;
  word-spacing: normal;   
  word-break: normal;    
  word-wrap: normal;    
  line-height: 1.5;

  tab-width: 4;
}

.pre-lang {
  color: $gray-400;
}

.pre-text {
  // color: $gray-700;
  border: 1px solid $gray-400;
  color: $whole-color;
}

[dark-mode] .pre-text {
  border: 1px solid $gray-700;
  color: $dark-whole-color;
}

pre span {    
  line-height: 1.5rem;
  white-space: pre;
}

pre[data-lang]::before {
  content: attr(data-lang);
  display: inline;
  margin: auto;
  color: gray;
//  background-color: gray;  
//  border-radius: 3px; 
  border-bottom: 1px solid gray;
}

.copy-code {
  float: right;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 0.2rem;
  display: inline;
  font-size: 12px;
}