$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$tango-blue: #2A4A83;
$tango-headbar-blue: #46629D;

$tango-red: #961D13;

$tango-green: #47663C;
$tango-light-grey: #E5E6E7;
$tango-primary: $tango-blue;


$tango-toc-line: #8F918D;
$tango-header-bar: $tango-headbar-blue;
$tango-table-th-bg: $gray-400;
$tango-table-td-bg: $gray-300;
$tango-table-border: $gray-200;
$tango-toc-highlight: $tango-blue;
$tango-toc-hover-highlight: $tango-green;
$tango-article-highlight: $tango-purple;
$tango-article-hover-highlight: $tango-green;
$tango-headbar-highlight: $tango-red;
$tango-headbar-hover-highlight: $tango-green;
$tango-headerbar: $tango-footer-bg;
$tango-scrollbar: $gray-300;
$tango-scrollbar-bg: $tango-bg;
$tango-scrollbar-hover: $gray-400;
$tango-scrollbar-hover-bg: $tango-bg;
$tango-block: #D3D3D3;





$dark-tango-light-green: #BEF080;


$dark-tango-pink: #E1B5E0;


$dark-tango-grey-yellow: #BFBE3D;
$dark-tango-primary: $dark-tango-green;

$dark-tango-table-head: #4E5253;
$dark-tango-table-data: #373B3C;
$dark-tango-table-border: #2D2826;
$dark-tango-block: #767B7E;
$dark-tango-blue: #97C3FA;
$dark-tango-search: #4C4D4D;

$dark-tango-dropdown-hover: $dark-tango-bg;


$index-a: $primary;
$footer-a: $tango-purple;


$content-bg: $whole-bg;
$content-color: $whole-color;


$footer-color: $whole-color;
$footer-a-color: $dark-tango-green;


$offcanvas-bg: $dark-tango-bg;
$offcanvas-color: $dark-tango-white;
$offcanvas-hover: $dark-tango-red;
$offcanvas-article-hover: $dark-tango-red;
$offcanvas-active: $dark-tango-yellow;

$navbar-bg: $dark-tango-headbar-bg;
$navbar-color: $dark-tango-white;
$nav-hover: $dark-tango-red;
$nav-active: $dark-tango-pink;


$dropdown-hover: $dark-tango-bg;

$header-a-color: $dark-tango-white;
$header-sentence-color: $dark-tango-yellow;

$index-a-color: $dark-tango-green;





$toc-bg: $dark-tango-bg;
$toc-color: $dark-tango-white;
$toc-hover: $dark-tango-red;
$toc-bg: $dark-tango-headbar-bg;

$table-hover-bg: $tango-table-td-bg;
$table-even-bg: $dark-tango-table-data;
$table-th-bg: $dark-tango-table-head;