div.toc-panel {
	a {
		color: $whole-color;
	 	text-decoration: none;
        font-size: 14px;
	}

    a:hover {
        color: $whole-hover;
    }


	a.active {
		color: $primary;
        font-weight: 800;
        transition: all .25s ease-in-out;
	}
}

[dark-mode] div.toc-panel {
    a {
        color: $dark-whole-color;
    }

    a:hover {
        color: $dark-whole-hover;
    }


    a.active {
       color: $dark-primary;
    }
}

div.toc-sticky {
    height: 500px;
    overflow-y: auto;
}

.toc-btn-toggle
{
    background: transparent;
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    // font-size: 18px;
    border: 0;
    word-wrap: break-word;
}

.toc-btn-toggle:hover
{
    color: $primary;
}

[dark-mode] .toc-btn-toggle:hover
{
    color: $dark-primary;
}

// 文件夹打开关闭图片
.toc-btn-toggle::after
{
    width: 1.25em;
    line-height: 1.25em;

    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="12" width="12" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="fillColor" d="M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM271 135c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-87 87 87 87c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L167 273c-9.4-9.4-9.4-24.6 0-33.9L271 135z"/></svg>');

    transition: transform .35s ease;
    transform-origin: 50% 50%;
//    transform: rotate(-90deg);
}

.toc-btn-toggle[aria-expanded="true"]::after
{
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="12" width="12" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="fillColor" d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM135 241c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l87 87 87-87c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 345c-9.4 9.4-24.6 9.4-33.9 0L135 241z"/></svg>');
}

[dark-mode] .toc-btn-toggle::after
{

    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="12" width="12" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#eaeaea" d="M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM271 135c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-87 87 87 87c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L167 273c-9.4-9.4-9.4-24.6 0-33.9L271 135z"/></svg>');
}

[dark-mode] .toc-btn-toggle[aria-expanded="true"]::after
{
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="12" width="12" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#eaeaea" d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM135 241c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l87 87 87-87c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 345c-9.4 9.4-24.6 9.4-33.9 0L135 241z"/></svg>');
}