<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>{{ .Title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>
        {{ partial "navbar.html" . }}
        
        <div class="container">
        <!-- {{ with .Site.GetPage "/post" }}<a href="{{.Permalink}}">{{ .Title }}</a>{{ end }} -->
        {{ range .Pages.ByPublishDate.Reverse }}
        <div>
            <a href="{{.Permalink}}">{{.Title}}</a>
        </div>
        {{ end }}
    </div>
    </body>
</html>