<!DOCTYPE html>
<html lang="zh">
    <head>
        {{ partial "head.html" . }}        
    </head>

    <body class="content-s">
        {{ partial "navbar.html" . }}
        
        <div class="container-fluid p-5">
        <!-- {{ with .Site.GetPage "/post" }}<a href="{{.Permalink}}">{{ .Title }}</a>{{ end }} -->
            {{ range .Pages.ByPublishDate.Reverse }}
            <div>
                <a href="{{.Permalink}}">{{.Title}}</a>
            </div>
            {{ end }}
        </div>

        {{ partial "footer.html" . }}
    </body>
</html>