<!DOCTYPE html>
<html lang="zh">

    <head>
        {{ partial "head.html" . }}
    </head>

    <body class="body-s">
        

        {{ partial "navbar.html" . }}

        <div class="container-fluid mt-3">
            <div class="row">
                <div class="leftcolumn">
                    {{ if eq .Section "notebook" }}
                        {{ partial "offcanvas.html" . }}
                    {{ end }}
                </div>    

                <div class="middlecolumn">
                    <div id="post" class="container p-3 my-3 content-s" style="word-break:break-all">
                        <article>
                            <header>
                                <h1 class="post-title content-title-s">{{ .Title }}</h1>
                                {{ if or (eq .Section "notebook") (eq .Section "blog") }}
                                    {{ $format := "02 Jan 2006" }}
                                    <p class="text-muted">发布于 {{ .PublishDate | time.Format $format }}, 最后更新于 {{ .Lastmod | time.Format $format }}</p>
                                {{ end }}
                            </header>

                            {{ if eq .Section "recent" }}
                                {{ partial "recent.html" . }}
                            {{ else }}
                                <div class="content-title-s">
                                {{ .Content }}
                                <div>
                            {{ end }}
                        </article>
                    </div>
                    {{ if or (eq .Section "notebook") (eq .Section "blog") }}
                        {{ if or .NextInSection .PrevInSection }}
                        <div class="container p-5 my-5 border-s content-title-s list-unstyled">
                            {{ with .PrevInSection }}
                            <li> 下一篇 
                                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                            </li>
                            {{ end }}
                            {{ with .NextInSection }}
                            <li> 上一篇 
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                            {{ end }}
                        </div>
                        {{ end }}
                    {{ end }}
                </div>

                {{ if or (eq .Section "notebook") (eq .Section "blog") }}
                {{ if gt .WordCount 10 }}
                <div class="rightcolumn container-fluid p-3 my-3 toc-s">
                    {{ partial "toc.html" . }}
                </div>
                {{ end }}
                {{ end }}

            </div>
        </div>

        {{ partial "footer.html" . }}
    </body>

</html>