<!DOCTYPE html>
<html lang="zh">

    <head>
        {{ partial "head.html" . }}
        {{ partial "header.html" . }} 
    </head>
        
    {{ $format := "2 Jan 2006" }}
    {{ $flag := 0 }}
    <body class="body-panel">
        <div class="container-fluid mt-3">
            <div class="row">
                {{ if eq .Section "recent" }}
                <div class="three-four-three-three"></div>
                <div class="three-four-three-four">
                    <article>
                        <header>
                            <h1>{{ .Title }}</h1>
                        </header>
                    {{ partial "single-recent.html" . }}
                    </article>
                </div>
                <div class="three-four-three-three"></div>
                    {{ $flag = 1 }}
                {{ else if or (eq .Section "about") (eq .Title "书签") }}    
                <div class="three-four-three-three"></div>
                <div class="three-four-three-four">
                    <article>
                        <header>
                            <h1>{{ .Title }}</h1>
                        </header>
                    <div class="single-panel">
                    {{ .Content }}
                    </div>    
                    </article>
                </div>
                <div class="three-four-three-three"></div>
                    {{ $flag = 1 }}
                {{ else if eq .Section "blog" }}
                    {{ if lt .WordCount 20 }}
                        {{ $flag = 1}}
                        <div class="two-six-two-two"></div>
                        <div class="two-six-two-six">
                            <article>
                                <header>
                                    <h1>
                                        {{ if or (eq .Section "notebook") (eq .Section "blog") }}
                                        <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#941100" d="M0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96z"/></svg>
                                        {{ end }}
                                        {{ .Title }}
                                    </h1>
                                </header>
                                <p class="article-date">发布于 {{ .PublishDate | time.Format $format }}, 最后更新于 {{ .Lastmod | time.Format $format }}</p>    
                                <div class="single-panel">
                                {{ .Content }}
                                </div> 
                                {{ if or .NextInSection .PrevInSection }}
                                <div class="container p-5 my-5 border-s list-unstyled single-panel">
                                    {{ with .PrevInSection }}
                                    <li> 下一篇 
                                        <a href="{{ .Permalink }}">{{ .Title }}</a> 
                                    </li>
                                    {{ end }}
                                    {{ with .NextInSection }}
                                    <li> 上一篇 
                                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                                    </li>
                                    {{ end }}
                                </div>
                                {{ end }}
                            </article>    
                    {{ end }}
                {{ end }}

                {{ if ne $flag 1 }}
                <div class="content-remove">
                    {{ .Content }}
                </div>
                <div class="two-eight-two">
                    {{ if eq .Section "blog" }}
                    <div class="card card-panel card-panel-sticky">
                        <div class="card-header">
                            <h5 style="display: inline; ">文章目录</h5>
                        </div>
                        <div class="card-body">
                            <div class="toc-panel">
                              {{ partial "toc.html" . }}
                            </div>
                        </div>
                    </div>
                    {{ else }}
                    <div class="card card-panel card-panel-sticky">
                        <div class="card-header">
                            <ul class="nav nav-pills card-header-pills nav-fill" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="btn active" id="toc-tab" data-bs-toggle="tab" data-bs-target="#toc-pane" type="button" role="tab" aria-controls="toc-pane" aria-selected="true">文章目录</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="btn" id="offcanvas-tab" data-bs-toggle="tab" data-bs-target="#offcanvas-pane" type="button" role="tab" aria-controls="offcanvas-pane" aria-selected="false">导航</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="toc-pane" role="tabpanel" aria-labelledby="toc-tab" tabindex="0">
                                <div class="toc-panel">
                                   {{ partial "toc.html" . }}
                                </div>
                                </div> 
                                <div class="tab-pane fade" id="offcanvas-pane" role="tabpanel" aria-labelledby="offcanvas-tab" tabindex="0">
                                
                                    <div class="offcanvas-panel">
                                        {{ partial "offcanvas.html" . }}
                                    </div>
                                
                                </div>   
                            </div>
                        </div>    
                    </div>
                    {{ end }}
                </div>
                <div class="two-eight-eight" style="word-break:break-all">
                    <article>
                        <header>
                            <h1>
                                {{ if or (eq .Section "notebook") (eq .Section "blog") }}
                                <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#941100" d="M0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96z"/></svg>
                                {{ end }}
                                {{ .Title }}
                            </h1>
                        </header>
                        <p class="article-date">发布于 {{ .PublishDate | time.Format $format }}, 最后更新于 {{ .Lastmod | time.Format $format }}</p>
                        <div class="single-panel">
                        {{ .Content }}
                        </div> 
                        {{ if or .NextInSection .PrevInSection }}
                        <div class="container p-5 my-5 border-s list-unstyled single-panel">
                            {{ with .PrevInSection }}
                            <li> 下一篇 
                                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                            </li>
                            {{ end }}
                            {{ with .NextInSection }}
                            <li> 上一篇 
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                            {{ end }}
                        </div>
                        {{ end }}
                    </article>
                </div>
                {{ end }}
                
            
                
            </div>
        </div>

        {{ if or (eq .Section "notebook") (eq .Section "blog") }}
        <div class="single-panel">
        {{ partial "comment.html" . }}
        </div> 
        
        {{ end }}

    </body>
    {{ partial "footer.html" . }}
</html>