<!DOCTYPE html>
<html lang="zh">

    <head>
        {{ partial "head.html" . }}
        {{ partial "header.html" . }} 
    </head>
        
    {{ $format := "2 Jan 2006" }}
    {{ $flag := 0 }}
    <body class="body-panel">
        <div class="container-fluid mt-3">
            <div class="row">
                {{ if eq .Section "recent" }}
                <div class="three-four-three-three"></div>
                <div class="three-four-three-four">
                    <article>
                        <header>
                            <h1>{{ .Title }}</h1>
                        </header>
                    {{ partial "single-recent.html" . }}
                    </article>
                </div>
                <div class="three-four-three-three"></div>
                    {{ $flag = 1 }}
                {{ else if or (eq .Section "about") (eq .Title "书签") }}    
                <div class="three-four-three-three"></div>
                <div class="three-four-three-four">
                    <article>
                        <header>
                            <h1>{{ .Title }}</h1>
                        </header>
                    <div class="single-panel">
                    {{ .Content }}
                    </div>    
                    </article>
                </div>
                <div class="three-four-three-three"></div>
                    {{ $flag = 1 }}
                {{ else if (eq .Title "感谢支持") }}
                <div class="three-four-three-three"></div>
                <div class="three-four-three-four">
                    <article>
                        <header>
                            <h1>{{ .Title }}</h1>
                        </header>
                        <br>
                    <div class="single-panel-large">
                    {{ .Content }}
                    </div>    
                    </article>
                </div>
                <div class="three-four-three-three"></div>
                    {{ $flag = 1 }}
                {{ else if (eq .Title "留言板") }}
                    <article>
                        <header>
                            <div style="text-align: center; ">
                            <h1>{{ .Title }}</h1>
                            </div>
                        </header>
                    </article>
                    {{ $flag = 1 }}
                {{ else if eq .Section "blog" }}
                    {{ if lt .WordCount 20 }}
                        {{ $flag = 1}}
                        <div class="two-six-two-two"></div>
                        <div class="two-six-two-six">
                            <article>
                                <header>
                                    <h1>
                                        {{ if or (eq .Section "notebook") (eq .Section "blog") }}
                                        <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#941100" d="M0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96z"/></svg>
                                        {{ end }}
                                        {{ .Title }}
                                    </h1>
                                </header>
                                <p class="article-date">发布于 {{ .PublishDate | time.Format $format }}, 最后更新于 {{ .Lastmod | time.Format $format }} &nbsp; 
                                    <svg style="margin-bottom: 3px;" xmlns="http://www.w3.org/2000/svg" height="14" width="15.75" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="currentColor" d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/></svg>

                                    <a id="single-pageview"></a></p>    
                                <div class="single-panel">
                                {{ .Content }}
                                </div> 
                                {{ if or .NextInSection .PrevInSection }}
                                <div class="container p-5 my-5 border-s list-unstyled single-panel page-nav">
                                    {{ with .PrevInSection }}
                                    <li> 下一篇 
                                        <a href="{{ .Permalink }}">{{ .Title }}</a> 
                                    </li>
                                    {{ end }}
                                    {{ with .NextInSection }}
                                    <li> 上一篇 
                                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                                    </li>
                                    {{ end }}
                                </div>
                                {{ end }}
                            </article>
                        </div>
                    {{ end }}
                {{ end }}

                {{ if ne $flag 1 }}
                <div class="content-remove">
                    {{ .Content }}
                </div>
                <div class="two-eight-two">
                    {{ if eq .Section "blog" }}
                    <div class="card card-panel card-panel-sticky">
                        <div class="card-header">
                            <h5 style="display: inline; ">文章目录</h5>
                        </div>
                        <div class="card-body">
                            <div class="toc-panel">
                              {{ partial "toc.html" . }}
                            </div>
                        </div>
                    </div>
                    {{ else }}
                    <div class="card card-panel card-panel-sticky">
                        <div class="card-header">
                            <ul class="nav nav-pills card-header-pills nav-fill" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="btn active" id="toc-tab" data-bs-toggle="tab" data-bs-target="#toc-pane" type="button" role="tab" aria-controls="toc-pane" aria-selected="true">文章目录</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="btn" id="offcanvas-tab" data-bs-toggle="tab" data-bs-target="#offcanvas-pane" type="button" role="tab" aria-controls="offcanvas-pane" aria-selected="false">导航</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="toc-pane" role="tabpanel" aria-labelledby="toc-tab" tabindex="0">
                                <div class="toc-panel">
                                   {{ partial "toc.html" . }}
                                </div>
                                </div> 
                                <div class="tab-pane fade" id="offcanvas-pane" role="tabpanel" aria-labelledby="offcanvas-tab" tabindex="0">
                                
                                    <div class="offcanvas-panel">
                                        {{ partial "offcanvas.html" . }}
                                    </div>
                                
                                </div>   
                            </div>
                        </div>    
                    </div>
                    {{ end }}
                </div>
                <div class="two-eight-eight" style="word-break:break-all">
                    <article>
                        <header>
                            <h1>
                                {{ if or (eq .Section "notebook") (eq .Section "blog") }}
                                <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#941100" d="M0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96z"/></svg>
                                {{ end }}
                                {{ .Title }}
                            </h1>
                        </header>
                        <p class="article-date">发布于 {{ .PublishDate | time.Format $format }}, 最后更新于 {{ .Lastmod | time.Format $format }} &nbsp; 
                        <svg style="margin-bottom: 3px;" xmlns="http://www.w3.org/2000/svg" height="14" width="15.75" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="currentColor" d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/></svg>
                        <a id="single-pageview"></a>
                        </p>
                        <div class="single-panel">
                        {{ .Content }}
                        </div> 
                        {{ if or .NextInSection .PrevInSection }}
                        <div class="container p-5 my-5 border-s list-unstyled single-panel page-nav">
                            {{ with .PrevInSection }}
                            <li> 下一篇 
                                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                            </li>
                            {{ end }}
                            {{ with .NextInSection }}
                            <li> 上一篇 
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                            {{ end }}
                        </div>
                        {{ end }}
                    </article>
                </div>
                {{ end }}
                
            
                
            </div>
        </div>

        {{ if or (eq .Section "notebook") (eq .Section "blog") (eq .Title "留言板" ) }}
        <div class="single-panel">
        {{ partial "comment.html" . }}
        </div> 
        
        {{ end }}

    </body>
    {{ partial "footer.html" . }}
</html>