<div class="header">
    <img class="header-img" src="/plants-1834749.jpg">
    <div class="div-nav">
        {{ partial "navbar-right.html" . }} 
    </div>    
    <div class="div-title">    
        <a class="navbar-brand" href="/"><h1>六一的部落格</h1></a>
        <br>
        <h3>关关难过关关过，前路漫漫亦灿灿。</h3>
    </div>
</div>
<br><br>
<!--
<div class="p-5 rounded text-center header">
    <a class="navbar-brand" href="/" style="font-size: 20px; "><h1>六一的部落格</h1></a>
    <br>
    <h3>关关难过关关过，前路漫漫亦灿灿。</h3>
</div>
-->