{{ $year_format := "2006" }}
{{ $month_format := "January" }}
{{ $day_format := "_2" }}
{{ $format := ":date_medium" }} 
{{ $max := 10 }} 

<div class="container p-5 my-5 index-panel">
    
    <h2><a href="recent/published/">最近发布</a></h2>
    
    {{ $last_year_val := "" }}
    {{ $last_month_val := "" }}
    {{ $last_day_val := "" }}

    {{ $sections := slice "notebook" "blog" "handbook" }}
    {{ range first $max (where .Site.RegularPages.ByPublishDate.Reverse "Section" "in" $sections) }}
        {{ $current_target := .PublishDate }}
        {{ $year_val := $current_target | time.Format $year_format }}
        {{ $month_val := $current_target | time.Format $month_format }}
        {{ $day_val := $current_target | time.Format $day_format }}

        {{ if ne $last_year_val $year_val }}
            {{ $last_year_val = $year_val }}
            {{ $last_month_val = "" }}
        {{ end }}

        {{ if ne $last_month_val $month_val }}
            {{ $last_month_val = $month_val }}
            {{ $last_day_val = "" }}
        {{ end }}

        {{ if ne $last_day_val $day_val }}
            <br>
            <h5> {{ $current_target | time.Format $format }} {{ $current_target | time.Format "  Mon"  }} </h5>

            {{ $last_day_val = $day_val }}
        {{ end }}

        <h6>
            {{ if eq .Section "blog" }}
            <nobr><b>日志</b></nobr>
            {{ else if eq .Section "notebook" }}
            <nobr><b>笔记</b></nobr>
            {{ else if eq .Section "handbook" }}            
            <nobr><b>手册</b></nobr>            
            {{ end }}
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>

            {{ range after 2 .Ancestors.Reverse }}
                {{ .LinkTitle }}
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
            {{ end }}

            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h6>
    {{ end }}
</div>

<div style="padding-bottom: 0.1px; "></div>

{{ $year_format := "2006" }}
{{ $month_format := "January" }}
{{ $day_format := "_2" }}
{{ $format := ":date_medium" }} 
{{ $max := 10 }} 

<div class="container p-5 my-5 index-panel">
    <h2><a href="recent/updated/">最近更新</a></h2>

    {{ $last_year_val := "" }}
    {{ $last_month_val := "" }}
    {{ $last_day_val := "" }}

    {{ $sections := slice "notebook" "blog" "handbook" }}
    {{ range first $max (where .Site.RegularPages.ByLastmod.Reverse "Section" "in" $sections) }}
        {{ $current_target := .Lastmod }}
        {{ $year_val := $current_target | time.Format $year_format }}
        {{ $month_val := $current_target | time.Format $month_format }}
        {{ $day_val := $current_target | time.Format $day_format }}

        {{ if ne $last_year_val $year_val }}
            {{ $last_year_val = $year_val }}
            {{ $last_month_val = "" }}
        {{ end }}

        {{ if ne $last_month_val $month_val }}
            {{ $last_month_val = $month_val }}
            {{ $last_day_val = "" }}
        {{ end }}

        {{ if ne $last_day_val $day_val }}
            <br>
            <h5> {{ $current_target | time.Format $format }} {{ $current_target | time.Format "  Mon"  }} </h5>

            {{ $last_day_val = $day_val }}
        {{ end }}

        <h6>
            {{ if eq .Section "blog" }}
            <nobr><b>日志</b></nobr>
            {{ else if eq .Section "notebook" }}
            <nobr><b>笔记</b></nobr>
            {{ else if eq .Section "handbook" }}            
            <nobr><b>手册</b></nobr>            
            {{ end }}
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
            {{ range after 2 .Ancestors.Reverse }}
                {{ .LinkTitle }}
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
            {{ end }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h6>
    {{ end }}
</div>
