<nav class="navbar navbar-expand-sm topnav navbar-s">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-size: 20px; ">六一的部落格</a>
        <ul class="navbar-nav me-auto">
            {{ range .Site.Menus.main }} 
                {{ if .HasChildren }}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle-s" id="{{ .Identifier }}" data-bs-toggle="dropdown">
                        {{ .Name }}
                    </a>    
                    <div class="dropdown-menu nav-dropdown-s">
                        {{ range .Children }}
                        <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
                        {{ end }}
                    </div>
                </li>    
                {{ else }}
                 <li class="nav-item"><a class="nav-link" href="{{ .URL }}" id="{{ .Identifier }}">{{ .Name }}</a></li>
                {{ end }} 
            {{ end }}
        </ul>
        <!--
        <span class="sun-btn">&#x2600;</span>

        <span class="moon-btn">&#x263D;</span>
    -->
    
    </div>
</nav>

{{ $built := resources.Get "js/navbar.js" | js.Build "main-navbar.js" }}
{{ with $built }}
    <script src="{{ $built.RelPermalink }}"></script>
{{ end }}