{{ $built := resources.Get "js/format-toc.js" | js.Build "main-format-toc.js" | minify | fingerprint "sha512" }}
{{ $built2 := resources.Get "js/toc-unfold.js" | js.Build "main-toc-unfold.js" | minify | fingerprint "sha512" }}
{{ with and $built $built2 }}

<!--
    <header>
        <h3>文章目录</h3>
    </header>
-->
    <script src="{{ $built.RelPermalink }}" integrity="{{ $built.Data.Integrity }}" crossorigin="anonymous"></script>
    <script src="{{ $built2.RelPermalink }}" integrity="{{ $built2.Data.Integrity }}" crossorigin="anonymous"></script>
{{ end }}