<!DOCTYPE html>
<html lang="zh">

    <head>
        {{ partial "head.html" . }}        
    </head>

    <body class="content-s">
        <!-- 导航栏 -->
        {{ partial "navbar.html" . }}

        <!-- 更新列表 -->
        <div class="container p-5 my-5 border-s">
            <h2> 最近发布 </h2>
            {{ $start := math.Counter }}
            {{ $count := 10 }}
            {{ $format := "Mon, 2 Jan 2006 03:04 pm" }}
            {{ range where .Site.RegularPages.ByPublishDate.Reverse "Section" "notebook" }}
            <div>
                <a href="{{ .Permalink }}">{{ .PublishDate | time.Format $format }} - {{ .Title }}</a>
            </div>
                {{ $ans := sub math.Counter $start }}
                {{ $ans := int $ans }}
                {{ if ge $ans $count }}
                    {{ break }}
                {{ end }}
            {{ end }}
        </div>

        <div class="container p-5 my-5 border-s">        
            <h2> 最近更新 </h2>
            {{ $start := math.Counter }}
            {{ $count := 10 }}
            {{ $format := "Mon, 2 Jan 2006 03:04 pm" }}
            {{ range where .Site.RegularPages.ByLastmod.Reverse "Section" "notebook" }}
            <div>
                <a href="{{ .Permalink }}">{{ .Lastmod | time.Format $format }} - {{ .Title }}</a>
            </div>

                {{ $ans := sub math.Counter $start }}
                {{ $ans := int $ans }}
                {{ if ge $ans $count }}
                    {{ break }}
                {{ end }}
            {{ end }}
        </div>

        {{ partial "footer.html" . }}

    </body>
</html>
