<!DOCTYPE html>
<html lang="zh">

    <head>
        <title>
            六一的部落格
        </title>

        <script type="application/ld+json">
            {
              "@context" : "https://schema.org",
              "@type" : "WebSite",
              "name" : "六一的部落格",
              "url" : "https://enjoy61.com/"
            }
        </script>
        
        <meta property="og:type" content="website">
        
        {{ partial "head.html" . }}
    </head>

    {{ partial "header.html" . }} 

    <body class="body-panel">
<!--
        <br><br><br>
        <div align="center">
            <h1 style="font-size:90px">溯洄从之， 道阻且长。</h1>
        </div>
        <br><br>
        <div align="center">
            <a href="/recent/published/" class="btn btn-primary btn-lg" role="button" align="center">Enter</a>
        </div>
        <br><br><br>

        {{ with resources.Get "js/home-page-pic.js" | js.Build "main.js" }}
        <script src="{{ .RelPermalink }}"></script>
        {{ end }}


<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="imageList" id="scrollpic1">
      <ul>
        <li><img src="index/1.jpg" /></li>
        <li><img src="index/2.jpg" /></li>
        <li><img src="index/3.jpg" /></li>
        <li><img src="index/4.jpg" /></li>
        <li><img src="index/5.jpg" /></li>
        <li><img src="index/6.jpg" /></li>
        <li><img src="index/7.jpg" /></li>
        <li><img src="index/8.jpg" /></li>
        <li><img src="index/9.jpg" /></li>
        <li><img src="index/10.jpg" /></li>
        <li><img src="index/11.jpg" /></li>
        <li><img src="index/12.jpg" /></li>
      </ul>
    </div>
    <div class="imageList" id="scrollpic2">
      <ul>
        <li><img src="index/13.jpg" /></li>
        <li><img src="index/14.jpg" /></li>
        <li><img src="index/15.jpg" /></li>
        <li><img src="index/16.jpg" /></li>
        <li><img src="index/17.jpg" /></li>
        <li><img src="index/18.jpg" /></li>
        <li><img src="index/19.jpg" /></li>
        <li><img src="index/20.jpg" /></li>
        <li><img src="index/21.jpg" /></li>
        <li><img src="index/22.jpg" /></li>
        <li><img src="index/23.jpg" /></li>
        <li><img src="index/24.jpg" /></li>
      </ul>
    </div>
  </div>
</section>
-->
        <br>
        <!-- 更新列表 -->
        <div class="row">
            <div class="two-six-two-two"></div>
            <div class="two-six-two-six">
                {{ partial "index-recent.html" . }}
            </div>
            <div class="two-six-two-two"></div>
        </div>

        {{ partial "footer.html" . }}
    </body>
</html>
